In [1]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [2]:
i = 0
while i < len(l):
    print(l[i])
    i += 1

1
2
3
4
5

In [8]:
numbers = [1,2,3]
x,z,y = numbers

In [10]:
sum(l)

15

In [12]:
1 in numbers, "1" in numbers

(True, False)

In [13]:
5 not in numbers

True

In [14]:
numbers.append(4)
# O(1)

In [15]:
numbers

[1, 2, 3, 4]

In [16]:
numbers.insert(0, 20)
numbers

# bigO O(n)

[20, 1, 2, 3, 4]

In [17]:
l.pop()

5

In [18]:
l

[1, 2, 3, 4]

In [19]:
l.pop(0), l

(1, [2, 3, 4])

In [25]:
l.remove(3)
l

ValueError: list.remove(x): x not in list

In [26]:
if 3 in l:
    l.remove(3)
l

[2, 4]

In [28]:
l.index(3)

ValueError: 3 is not in list

In [21]:
l2 = [1,2,3,4,1,6,2,4,2]
l2

[1, 2, 3, 4, 1, 6, 2, 4, 2]

In [22]:
l2.count(2)

3

In [23]:
l2.count(100)

0

In [34]:
l2.index(4, 5)

7

In [35]:
l2.reverse()

In [36]:
l2.index()

[2, 4, 2, 6, 1, 4, 3, 2, 1]

In [45]:
l2[-1: -len(l2)-1: -1]

[1, 2, 3, 4, 1, 6, 2, 4, 2]

In [ ]:
l2[-1], l2[-1], ... , l2[-1]

In [47]:
l2.sort()
l2

[1, 1, 2, 2, 2, 3, 4, 4, 6]

In [49]:
l = [x for x in range(100)]
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [50]:
lista = [1,2,3]
lista[0] = 100
lista

[100, 2, 3]

In [51]:
tupla = (1,2,3)
tupla[0] = 100
tupla

TypeError: 'tuple' object does not support item assignment

In [52]:
tupla = 5
type(tupla)

int

In [54]:
saludo = "hola"
saludo[2] = "5"
saludo

TypeError: 'str' object does not support item assignment

In [55]:
dias_semana = (
    "lunes",
    "martes",
    "miercoles",
    "..."    
)

In [57]:
l2 = [1,2,3,4,1,6,2,4,2]
l2

[1, 2, 3, 4, 1, 6, 2, 4, 2]

In [58]:
s1 = { 1,2,3,4,1,6,2,4,2 }
s1

{1, 2, 3, 4, 6}

In [59]:
set(l2)

{1, 2, 3, 4, 6}

In [60]:
diccionario = {
    "key": "value",
    456: "value2",
}

In [63]:
diccionario["key"], diccionario[456]

('value', 'value2')

In [64]:
diccionario.get("key"), diccionario.get(456)

('value', 'value2')

In [70]:
diccionario.get("key", "no existe")

'value'

In [71]:
diccionario["key"] = "123456"
diccionario

{'key': '123456', 456: 'value2'}

In [72]:
diccionario["new"] = "654"
diccionario

{'key': '123456', 456: 'value2', 'new': '654'}

In [73]:
diccionario.update({"key": "otra cosa"})
diccionario

{'key': 'otra cosa', 456: 'value2', 'new': '654'}

In [74]:
diccionario.update({"key": "otra cosa de nuevo", "nueva": "nueva cosa"})
diccionario

{'key': 'otra cosa de nuevo',
 456: 'value2',
 'new': '654',
 'nueva': 'nueva cosa'}

In [77]:
for key, value in diccionario.items():
    print(key, value)

key otra cosa de nuevo
456 value2
new 654
nueva nueva cosa

In [78]:
diccionario.pop("nueva")

'nueva cosa'

In [79]:
diccionario

{'key': 'otra cosa de nuevo', 456: 'value2', 'new': '654'}

In [80]:
a = diccionario
a

{'key': 'otra cosa de nuevo', 456: 'value2', 'new': '654'}

In [81]:
diccionario["a"] = "456"
diccionario

{'key': 'otra cosa de nuevo', 456: 'value2', 'new': '654', 'a': '456'}

In [82]:
a

{'key': 'otra cosa de nuevo', 456: 'value2', 'new': '654', 'a': '456'}

In [83]:
b = diccionario.copy()
b

{'key': 'otra cosa de nuevo', 456: 'value2', 'new': '654', 'a': '456'}

In [84]:
diccionario["b"] = "654"
diccionario

{'key': 'otra cosa de nuevo',
 456: 'value2',
 'new': '654',
 'a': '456',
 'b': '654'}

In [85]:
b

{'key': 'otra cosa de nuevo', 456: 'value2', 'new': '654', 'a': '456'}