In [3]:
print("hola mundo")

hola mundo

In [2]:
print("otra cosa")

otra cosa

In [4]:
# comentario

In [5]:
variable = 10

In [6]:
type(variable)

int

In [7]:
# int str float bool None
entero = 10
cadena = "texto asd"
texto = 'c'
flotante = 10.5
booleano = True # o False
null = None

In [10]:
type(flotante)

float

In [11]:
type(booleano)

bool

In [12]:
booleano = "otro valor"
type(booleano)

str

In [15]:
emtero = 2e80
type(entero)

int

## Comparaciones

In [16]:
5 > 2

True

In [17]:
5 == 2

False

In [18]:
5 != 2

True

In [20]:
var = True

In [23]:
var is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_1444772/1554283602.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  var is 5

False

In [26]:
651 + 489 - 4897 + 10.0

-3747.0

In [27]:
651 + 489 - 4897 + int(10.0)

-3747

In [29]:
result = 354 + 8798 - 65465 * 651651 \
    + 10.0 - 65489 / 6546

print(result)

-42660323563.00443

In [33]:
# if (asdasd) { ... }


if 5 > 2:
    print("5 es mayor")
    print("5 es mayor")
    
    if 5 > 4:
        print("también es mayor a 4")
        print("primer", "segundo", "valor", sep="...")

5 es mayor
5 es mayor
también es mayor a 4
primer...segundo...valor

### JS


- Variable: camelCase
- Clases: PascalCase
- Funciones: camelCase

In [34]:

snake_case = 156

In [35]:
class MyClass:
    pass

In [36]:
def function_name():
    ...

In [37]:
PI = 3.141592653589793

In [38]:
type(PI)

float

In [39]:
PI = "hola"

In [40]:
type(PI)

str

In [47]:
if (5 > 72 and 10 > 4):
    print("algo")
elif 10 > 4 and not 5 > 72:
    print("lorem")
else:
    print("otra cosa")

lorem

In [42]:
if 5 > 2 or 10 > 4:
    print("algo")

algo

In [50]:
5 != 72

True

In [52]:
print("texto", 1, 6546857.45654, True, 10+5)

texto 1 6546857.45654 True 15

In [54]:
print(input("Ingresa algo: "))

6574685

In [55]:
a = input("Ingresa algo: ")

In [58]:
type(a), a

(str, '6546')

In [60]:
type(int(a))

int

In [61]:
float(a)

6546.0

In [62]:
a = 2
a += 2
a

4

In [63]:
a++

SyntaxError: invalid syntax (1277751513.py, line 1)

In [66]:
print("asdasd",end=" ")
print("asdasd",end="")

asdasd asdasd

## Control de flujo

#### While

In [69]:
count = 0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#### for

In [70]:
for letter in "hola":
    print(letter)

h
o
l
a

In [71]:
lista = [1, 2, 3, 4, 5]
for number in lista:
    print(number)

1
2
3
4
5

In [72]:
type(lista)

list

In [73]:
tupla = (1, 2, 3, 4, 5)
for number in tupla:
    print(number)

1
2
3
4
5

In [74]:
lista[0]

1

In [75]:
lista[0] = 10
lista

[10, 2, 3, 4, 5]

In [78]:
type(tupla)

tuple

In [79]:
tupla[0]

1

In [80]:
tupla[0] = 10

TypeError: 'tuple' object does not support item assignment

In [84]:
for i in range(5):
    print(i)

0
1
2
3
4

In [83]:
for i in range(5,22,2):
    print(i)

5
7
9
11
13
15
17
19
21

In [89]:
valores = {
    "clave": 123,
    "otra_clave": 456
}
valores

{'clave': 123, 'otra_clave': 456}

In [90]:
type(valores)

dict

In [91]:
valores["clave"]

123

In [92]:
valores["clave"] = 654
valores

{'clave': 654, 'otra_clave': 456}

In [95]:
valores["nuevo"] = "algo"
valores

{'clave': 654, 'otra_clave': 456, 'nuevo': 'algo'}

In [96]:
lista = [i for i in range(10000)]
len(lista)

10000

In [97]:
diccionario = {
    i: i**2
    for i in range(10)
}
diccionario

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [98]:
otro = {
    "key": "value",
    "k2": 10.5,
    "k3": {
        "indexed": True
    }
}
otro["k3"]["indexed"]

True

In [99]:
set_ = {1, 2, 3, 4, 5}
set_

{1, 2, 3, 4, 5}

In [100]:
type(set_)

set

In [101]:
[1,2,3,1,3,5,4,2]

[1, 2, 3, 1, 3, 5, 4, 2]

In [102]:
{1,2,3,1,3,5,4,2}

{1, 2, 3, 4, 5}

In [103]:
l = [1,2,3,1,3,5,4,2]
set(l)

{1, 2, 3, 4, 5}